{% extends 'security_base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
            {# Let the user select the authentication method #}
            {# <p>{{ "choose_provider"|trans({}, 'SchebTwoFactorBundle') }}:
                {% for provider in availableTwoFactorProviders %}
                    <a href="{{ path("2fa_login", {"preferProvider": provider}) }}">{{ provider }}</a>
                {% endfor %}
            </p> #}
            {# Display current two-factor provider #}
            
            <form class="form" action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post">
                <main class="main-content mt-0">
                    <div class="page-header align-items-start min-vh-100" style="background-image: url('{{ asset("img/login-background.jpg") }}');">
                    <span class="mask bg-gradient-dark opacity-6"></span>
                    <div class="container my-auto">
{% if authenticationError %}
    <div class="row">
        <div class="col-lg-6 col-md-8 col-12 mx-auto">
            <div class="alert alert-danger text-white mb-5 text-center" role="alert">
                <span class="alert-text"><strong>Warning! </strong>{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</span>
            </div>
        </div>
    </div>
{% endif %}
                        <div class="row">
                        <div class="col-lg-5 col-md-8 col-12 mx-auto">

                            <div class="card z-index-0 fadeIn3 fadeInBottom">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <div class="bg-gradient-info shadow-info border-radius-lg py-3 pe-1">
                                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Authentification à deux facteurs (2FA)</h4>
                                <p class="text-white text-sm text-center">Code Email</p>
                                <div class="row mt-3">
                                </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form role="form" class="text-start">
                                <div class="input-group input-group-dynamic mb-4" id="codeGroup">
                                    <label for="_auth_code" class="form-label">Code</label>
                                    <input
                                        id="_auth_code"
                                        type="text"
                                        name="{{ authCodeParameterName }}"
                                        autocomplete="one-time-code"
                                        class="form-control"
                                        required
                                        {#
                                        https://www.twilio.com/blog/html-attributes-two-factor-authentication-autocomplete
                                        If your 2fa methods are using numeric codes only, add these attributes for better user experience:
                                        inputmode="numeric"
                                        pattern="[0-9]*"
                                        #}
                                    />
                                </div>
                                {% if displayTrustedOption %}
                                <div class="form-check form-switch d-flex align-items-center mb-3">
                                    <input id="_trusted" type="checkbox" name="{{ trustedParameterName }}" class="form-check-input" />
                                    <label class="form-check-label mb-0 ms-3" for="_trusted">Se souvenir de moi</label>
                                </div>
                                {% endif %}
                                {% if isCsrfProtectionEnabled %}
                                    <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
                                {% endif %}
                                <div class="text-center">
                                    <button type="submit" class="btn bg-gradient-info w-100 my-4 mb-2">Login</button>
                                </div>
                                <p class="mt-4 text-sm text-center">
                                    <a href="{{ logoutPath }}" class="btn btn-outline-danger text-danger">{{ "cancel"|trans({}, 'SchebTwoFactorBundle') }}</a>
                                </p>
                                </form>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </main>
            </form>
{% endblock %}

{% block javascripts %}
  <script>
  const code = document.getElementById("_auth_code");
  const codeGroup = document.getElementById("codeGroup");

  // As per the HTML Specification
  const codeRegExp = /^\d{6}$/;

  // password input eventListener
  // email input eventListener
  code.addEventListener("input", () => {
    const codeIsValid = codeRegExp.test(code.value);
    if (codeIsValid) {
      codeGroup.classList.add("is-valid")
    }else{
      codeGroup.classList.remove("is-valid")
    }
  });

</script>
{% endblock %}



