{% extends 'security_base.html.twig' %}

{% block title %}Authentification email{% endblock %}

{% block body %}

<main>
    <div class="md:grid md:grid-cols-3 h-screen">

    <!--login-->
    <div class="">
        <div class="ml-2 mt-2 text-xl font-thin">Property Manager App</div>
        <div class="content-center mx-12 h-[90vh]">
{% if authenticationError %}
    <div class="row">
        <div class="col-lg-6 col-md-8 col-12 mx-auto">
            <div class="alert alert-danger text-white mb-5 text-center" role="alert">
                <span class="alert-text"><strong>Warning! </strong>{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</span>
            </div>
        </div>
    </div>
{% endif %}        
            
            <form class="form" action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post">

                <div class="my-3 py-2 text-xl text-center text-gray-600 font-bold">Veuillez saisir votre code reçu par email</div>

                <hr class="h-50">

                    <label for="_auth_code" class="form-label">Code</label>
                    <input
                        id="_auth_code"
                        type="text"
                        name="{{ authCodeParameterName }}"
                        autocomplete="one-time-code"
                        class="input-base"
                        required
                        {#
                        https://www.twilio.com/blog/html-attributes-two-factor-authentication-autocomplete
                        If your 2fa methods are using numeric codes only, add these attributes for better user experience:
                        inputmode="numeric"
                        pattern="[0-9]*"
                        #}
                    />
                    {% if displayTrustedOption %}
                    <div class="form-check form-switch d-flex align-items-center mb-3">
                        <input id="_trusted" type="checkbox" name="{{ trustedParameterName }}" class="form-check-input" />
                        <label class="form-check-label mb-0 ms-3" for="_trusted">Se souvenir de moi</label>
                    </div>
                    {% endif %}

                        <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">

                    <button class="mt-8 py-2 appearance-none w-full border rounded-md border-gray-300 bg-cyan-400 hover:bg-cyan-500" type="submit">
                        Valider
                    </button>
                    <a href="{{ logoutPath }}" class="mt-8 py-2 text-center appearance-none w-full border rounded-md border-gray-300 bg-red-400 hover:bg-red-500">{{ "cancel"|trans({}, 'SchebTwoFactorBundle') }}</a>
            </form>    
        </div>
    </div>

        <!--image-->
        <div class="hidden md:block bg-cover bg-center col-span-2" style="background-image: url({{ asset('media/2fa.jpg') }})"></div>

    </div>
</main>
    
{% endblock %}

{% block javascripts %}
  <script>
document.addEventListener("DOMContentLoaded", () => {
  const input = document.getElementById("_auth_code");

  // Expression régulière pour un code à 6 chiffres
  const codeRegExp = /^\d{6}$/;

  input.addEventListener("input", () => {
    const codeIsValid = codeRegExp.test(input.value);

    if (codeIsValid) {
      input.classList.remove("focus:border-red-700");
      input.classList.add("focus:border-green-700");
    } else {
      input.classList.remove("focus:border-green-700");
      input.classList.add("focus:border-red-700");
    }
  });
});
</script>
{% endblock %}
