{% extends 'base.html.twig' %}

{% set pageName = "Liste des locataires" %}
{% block title %}{{pageName}}{% endblock %}
{% block pageName %}{{pageName}}{% endblock %}

{% block body %}
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-6 text-center md:hidden">{{pageName}}</h1>
            <div class="my-4 flex justify-center">
                <a href="{{ path('app_tenant_new') }}" class="inline-block btn-blue-to-emrald">Ajouter un locataire</a>
            </div>
        <div class="grid grid-cols-1 md:grid-cols-2 flex items-start lg:grid-cols-3 gap-6">
            {% for tenant in tenants %}
                <div class="bg-white shadow-md rounded-lg overflow-hidden border-4 border-white hover:shadow-xl">

            {% if images[tenant.id] is defined %}
                {% set path = asset('uploads/' ~ tenant.property.id ~ '/' ~ images[tenant.id].fileName) %}
            {% else %}
                {% set path = asset('media/app_default.JPE') %}
            {% endif %}
                <div class="relative">
                    <img src="{{ path }}" class="w-full h-48 object-cover opacity-50">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-start justify-center px-4">
                        <!-- Nom et prénom -->
                        {% set color = 'gray' %}
                        {# si les dates de bail sont passées, on met la couleur rouge (les locataires n'ont plus de bails actif) #}
                        {% if tenant.rentalEndDate|date("U") <= "now"|date("U") %}{% set color = 'red' %}{% endif %}
                        
                        <h2 class="text-white text-xl font-semibold bg-{{color}}-900 px-4 py-2 w-fit">
                            {{ tenant.firstname }} {{ tenant.lastname }}
                        </h2>

                        <!-- Email -->
                        <span class="mt-1 bg-blue-200 text-blue-800 text-sm font-semibold px-2.5 py-0.5 rounded">
                            {{ tenant.email }}
                        </span>
                    </div>
                </div>
                    <hr class="m-2">
                    <div class="bg-white p-4">
                        <ul>
                            <li><strong>Numéro de téléphone:</strong> {{ tenant.phonenumber }}</li>
                            <li><strong>Date d'entrée:</strong> {{ tenant.rentalStartDate|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}</li>
                            <li><strong>Fin de bail:</strong> {{ tenant.rentalEndDate|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}</li>
                        </ul>
                    </div>
                    <hr class="m-2">

                    <div class="p-4 flex justify-center bg-white gap-4">
                        <a href="{{ path('app_tenant_show', {'id': tenant.id}) }}" class="inline-flex items-center border-[1px] border-blue-500 text-blue-500 font-semibold py-1 px-4 rounded hover:bg-blue-300 transition-colors"><span class="material-symbols-outlined text-sm">visibility</span>&nbsp;Voir</a>
                        {% if tenant.rentalEndDate|date("U") <= "now"|date("U") %}                        
                            <a href="{{ path('app_tenant_lease_renew', {'id': tenant.id}) }}" class="inline-flex items-center border-[1px] border-orange-500 text-orange-500 font-semibold py-1 px-4 rounded hover:bg-orange-300 transition-colors">Renouveller le bail</a>
                        {% endif %}
                        <a href="{{ path('app_tenant_edit', {'id': tenant.id}) }}" class="inline-flex items-center border-[1px] border-lime-500 text-lime-500 font-semibold py-1 px-4 rounded hover:bg-lime-300 transition-colors"><span class="material-symbols-outlined text-sm">edit</span>&nbsp;Modifier</a>
                    </div>
                </div>
            {% else %}
                <div class="col-span-full text-center text-gray-600">
                        <div class="my-2 flex justify-center bg-amber-500 px-5 my-4 rounded-lg">
                            Aucun locataire actuelleemnt.
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
window.addEventListener("load", () => {
    document.getElementById("menu_btn_tenant").classList.add("menu-btn-active");
})
</script>
{% endblock %}
