{{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

<div class="md:grid md:grid-cols-3 md:gap-4">

    <div>
        {{ form_label(form.type, 'Type', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.type, {'attr': {'class': 'input-base'}}) }}
    </div>  

    <div class="md:col-span-3">
        {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'input-base'}}) }}
    </div>

    <div class="md:col-span-3">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'input-base'}}) }}
    </div>  

    <div>
        {{ form_label(form.EWID, 'EWID', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.EWID, {'attr': {'class': 'input-base'}}) }}
    </div>

    <div>
        {{ form_label(form.EGID, 'EGID', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.EGID, {'attr': {'class': 'input-base'}}) }}
    </div>

    <div class="relative flex py-5 items-center col-span-3">
    <div class="flex-grow border-t border-gray-400"></div>
    <span class="flex-shrink mx-4 text-gray-400">Hypotèque et achat</span>
    <div class="flex-grow border-t border-gray-400"></div>
    </div>

    <div>
        {{ form_label(form.mortgageType, 'Type d\'hypothèque', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.mortgageType, {'attr': {'class': 'input-base'}}) }}
    </div>    

    <div>
        {{ form_label(form.mortgageRate, 'Taux hypothécaire', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.mortgageRate, {'attr': {'class': 'input-base'}}) }}
    </div>

    <div>
        {{ form_label(form.mortgageEndDate, 'Fin de l\'hypothèque', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.mortgageEndDate, {'attr': {'class': 'input-base'}}) }}
    </div>

    <div>
        {{ form_label(form.purchaseDate, 'Date d\'achat', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.purchaseDate, {'attr': {'class': 'input-base'}}) }}
    </div>

    <div>
        {{ form_label(form.purchasePrice, 'Prix d\'achat', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.purchasePrice, {'attr': {'class': 'input-base'}}) }}
    </div>

    <div class="relative flex py-5 items-center col-span-3">
    <div class="flex-grow border-t border-gray-400"></div>
    <span class="flex-shrink mx-4 text-gray-400">Adresse</span>
    <div class="flex-grow border-t border-gray-400"></div>
    </div>


    <div class="col-span-2">
        {{ form_label(form.address.street, 'Rue', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.address.street, {'attr': {'class': 'input-base'}}) }}
    </div>
    <div>
        {{ form_label(form.address.streetNumber, 'Numéro de rue', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.address.streetNumber, {'attr': {'class': 'input-base'}}) }}
    </div>   
    <div>
        {{ form_label(form.address.zipCode, 'Code postal', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.address.zipCode, {'attr': {'class': 'input-base'}}) }}
    </div>   
    <div class="col-span-2">
        {{ form_label(form.address.city, 'ville', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.address.city, {'attr': {'class': 'input-base'}}) }}
    </div>    

</div>

<div>
    <button class="mt-4 py-2 px-4 bg-blue-600 text-white font-bold rounded hover:bg-blue-700">
        {{ button_label|default('Enregistrer') }}
    </button>
    <button onclick="history.back()" class="mt-4 py-2 px-4 bg-red-600 text-white font-bold rounded hover:bg-red-700">Annuler</button>
</div>

{{ form_end(form) }}
