{% import 'form_macros.html.twig' as macros %}
{{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

<div class="md:grid md:grid-cols-3 md:gap-4">


    {{ macros.field(form.type, 'Type', 'md:col-span-2') }}
    {{ macros.field(form.name, 'Nom', 'md:col-span-3') }}
    {{ macros.field(form.description, 'Description', 'md:col-span-3') }}

    <div class="relative flex py-5 items-center col-span-3">
        <div class="flex-grow border-t border-gray-400"></div>
        <span class="flex-shrink mx-4 text-gray-400">Adresse</span>
        <div class="flex-grow border-t border-gray-400"></div>
    </div>

    {{ macros.field(form.address.street, 'Rue', 'col-span-2') }}
    {{ macros.field(form.address.streetNumber, 'Numéro de rue', '') }}
    {{ macros.field(form.address.zipCode, 'Code postal', '') }}
    {{ macros.field(form.address.city, 'Ville', 'col-span-2') }}

    {{ macros.field(form.EWID, 'EWID', '') }}
    {{ macros.field(form.EGID, 'EGID', '') }}


    <div class="relative flex py-5 items-center col-span-3">
    <div class="flex-grow border-t border-gray-400"></div>
    <span class="flex-shrink mx-4 text-gray-400">Achat et coût</span>
    <div class="flex-grow border-t border-gray-400"></div>
    </div>

    {{ macros.field(form.purchasePrice, 'Prix d\'achat', '') }}
    {{ macros.field(form.purchaseDate, 'Date d\'achat', '') }}
    {{ macros.field(form.bank, 'Banque', '') }}
    {{ macros.field(form.ownerChargesDepositAmount, 'Charges mensuelles', '') }}


    <div class="relative flex py-5 items-center col-span-3">
    <div class="flex-grow border-t border-gray-400"></div>
    <span class="flex-shrink mx-4 text-gray-400">Première hypothèque</span>
    <div class="flex-grow border-t border-gray-400"></div>
    </div>

    {{ macros.field(form.mortgageType, 'Type d\'hypothèque', '') }}
    {{ macros.field(form.mortgageRate, 'Taux hypothécaire', '') }}
    {{ macros.field(form.mortgageEndDate, 'Fin de l\'hypothèque', '') }}

    <div class="relative flex py-5 items-center col-span-3">
    <div class="flex-grow border-t border-gray-400"></div>
    <span class="flex-shrink mx-4 text-gray-400">Seconde hypothèque</span>
    <div class="flex-grow border-t border-gray-400"></div>
    </div>

    {{ macros.field(form.mortgageType2, 'Type d\'hypothèque', '') }}
    {{ macros.field(form.mortgageRate2, 'Taux hypothécaire', '') }}
    {{ macros.field(form.mortgageEndDate2, 'Fin de l\'hypothèque', '') }}

</div>

<div>
    <button class="mt-4 py-2 px-4 bg-blue-600 text-white font-bold rounded hover:bg-blue-700">
        {{ button_label|default('Enregistrer') }}
    </button>
    <button onclick="history.back()" class="mt-4 py-2 px-4 bg-red-600 text-white font-bold rounded hover:bg-red-700">Annuler</button>
</div>

{{ form_end(form) }}
