
{% if mortgages is not empty %}
    <div class="flex justify-between mt-4">
        <p class="text-xl font-semibold text-gray-700 mb-2 col-span-2">
            Hypothèque{% if mortgages|length > 1 %}s{% endif %}
        </p>
    </div>
    <div class="flex overflow-x-auto gap-4">
        <table class="table-auto w-full">
            <thead>
                <tr>
                    <th class="text-sm bg-orange-200">Période</th>
                    <th class="text-sm bg-orange-200">Montant</th>
                </tr>
            </thead>
            {% for mortgage in mortgages %}
                {# on défini les periodes par type d'hypothèque #}
                {% set periodes = [] %}
                {% set periodesName = "" %}
                {% if mortgage.billingPeriod.name == "QUARTERLY" %}
                {% set periodesName = "QUARTERLY" %}
                    {% set periodes = [
                            {'label': '1er Janvier au 31 Mars', 'key': '03-MORTGAGE', 'date': '-03-31', 'description': 'hypothèque du 1er janvier au 31 mars'},
                            {'label': '1er Avril au 30 Juin', 'key': '06-MORTGAGE', 'date': '-06-30', 'description': 'hypothèque du 1er avril au 30 juin'},
                            {'label': '1er Juillet au 30 Septembre', 'key': '09-MORTGAGE', 'date': '-09-30', 'description': 'hypothèque du 1er juillet au 30 septembre'},
                            {'label': '1er Octobre au 31 Décembre', 'key': '12-MORTGAGE', 'date': '-12-31', 'description': 'hypothèque du 1er octobre au 31 décembre'}
                        ] %}
                {% elseif mortgage.billingPeriod.name == "MONTHLY" %}
                {% set periodesName = "MONTHLY" %}
                    {% set periodes = [
                            {'label': 'Janvier', 'key': '01-MORTGAGE', 'date': '-01-31', 'description': 'Hypothèque de janvier'},
                            {'label': 'Février', 'key': '02-MORTGAGE', 'date': '-02-28', 'description': 'Hypothèque de février'},
                            {'label': 'Mars', 'key': '03-MORTGAGE', 'date': '-03-31', 'description': 'Hypothèque de mars'},
                            {'label': 'Avril', 'key': '04-MORTGAGE', 'date': '-04-30', 'description': 'Hypothèque d\'avril'},
                            {'label': 'Mai', 'key': '05-MORTGAGE', 'date': '-05-31', 'description': 'Hypothèque de mai'},
                            {'label': 'Juin', 'key': '06-MORTGAGE', 'date': '-06-30', 'description': 'Hypothèque de juin'},
                            {'label': 'Juillet', 'key': '07-MORTGAGE', 'date': '-07-31', 'description': 'Hypothèque de juillet'},
                            {'label': 'Août', 'key': '08-MORTGAGE', 'date': '-08-31', 'description': 'Hypothèque d\'août'},
                            {'label': 'Septembre', 'key': '09-MORTGAGE',  'date': '-09-30' , 'description': "Hypothèque de septembre"},
                            {'label': "Octobre", 'key': "10-MORTGAGE", 'date': "-10-31", 'description': "Hypothèque d'octobre"},
                            {'label': "Novembre", 'key': "11-MORTGAGE", 'date': "-11-30", 'description': "Hypothèque de novembre"},
                            {'label': "Décembre", 'key': "12-MORTGAGE", 'date': "-12-31", 'description': "Hypothèque de décembre"}
                        ] %}

                {% elseif mortgage.billingPeriod.name == "ANNUAL" %}
                {% set periodesName = "ANNUAL" %}
                    {% set periodes = [
                            {'label': 'Annuel', 'key': '12-MORTGAGE', 'date': '-12-31', 'description': 'hypothèque annuelle'}
                        ] %}
                {% endif %}

                {# on affiche les periodes de l'hypothèque dans un tableau #}
                        {% set today = "now"|date("Y-m-d") %}
                        <tbody>
                        {# On affiche l'hypotéque  #}
                        <tr class="bg-gray-700">
                            <td colspan="2" class="text-sm text-gray-100 font-semibold">{{ mortgage.bank.name }} - {{ mortgage.mortgageType.value }} ({{ mortgage.rate }}%) - {{mortgage.amount|number_format(2, '.', '\'')|default('') }} CHF</td>
                        </tr>
                            {% for periode in periodes %}
                                {% set fullDate = (year|default(('now')|date('Y'))) ~ periode.date %}
                                <tr>
                                    <td class="text-sm pl-2">{{ periode.label }}</td>
                                    <td class="text-center text-sm">
                                        {# on s'assure que l'hypothèque est renseignée, qu'elle correspond à la periode mensionnée et qu'elle est de la même hypothèque #}
                                        {% set found = null %}
                                        {% if shortMortgages[periode.key] is defined %}
                                            {% for id, entry in shortMortgages[periode.key] %} {# on boucle sur les [periode.key] pour trouver les id #}
                                                {% if entry.mortgage == mortgage and entry.mortgage.billingPeriod.name == periodesName %}
                                                    {% set found = entry %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if found %}
                                            {{ found.amount|default('')|number_format(2, '.', '\'') }}
                                        {% elseif fullDate <= today %}
                                            <a href="{{ path('app_financial_entry_new', {
                                                'type': 'EXPENSE',
                                                'property': mortgage.property.id,
                                                'category': 'MORTGAGE',
                                                'description': periode.description,
                                                'paidAt': fullDate
                                            }) }}" class="text-blue-500 hover:underline">
                                                Ajouter
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
            {% endfor %}
        </table>
    </div>
    {% else %}
        <p class="text-sm text-gray-600 text-center bg-lime-400 p-2 w-full">Aucune hypothèque renseignée.</p>
    {% endif %}