{% extends 'base.html.twig' %}

	{% set pageName = "Détail de la propriété" %}

	{% block title %}
		{{property.type.value}}
		-
		{{property.address.city}}
	{% endblock %}
	{% block pageName %}
		{{pageName}}
	{% endblock %}

{% block stylesheets %}
<style>
	.showDescription {
		display: block;
		max-height: 500px;
		overflow: auto;
	}
</style>
{% endblock %}

{% block body %}

		{% set months = { 
            01 : 'Janvier',
            02 : 'Février',
            03 : 'Mars',
            04 : 'Avril',
            05 : 'Mai',
            06 : 'Juin',
            07 : 'Juillet',
            08 : 'Août',
            09 : 'Spetembre',
            10 : 'Octobre',
            11 : 'Novembre',
            12 : 'Décembre'
            } 
        %}

		<div class="container mx-auto px-4 p-6">
			<h1 class="text-2xl font-bold mb-6 text-center md:hidden">
				{{pageName}}
			</h1>

			{% if property.Owner == app.user %}
				<div class="mt-6 flex flex-row-reverse ">
					<div>
						<a href="{{ path('app_property_edit', {'id': property.id, 'slug': property.slug}) }}" class="flex items-center px-4 py-2 bg-green-500 text-white rounded shadow hover:bg-green-600 mr-2 space-x-2">
							<span class="material-symbols-outlined text-base">
								edit
							</span>
							<span>
								Modifier
							</span>
						</a>
					</div>
				</div>
			{% endif %}
			<div class="rounded-lg mt-2 grid grid-cols-2 sm:p-6 xl:grid-cols-6 gap-6">
				<!-- Card Section -->
				<div class="col-span-6 xl:col-span-2">
					<div class="grid gap-4">
						{# partage #}
						<div class="bg-gray-50 p-4 rounded-lg border-[1px] border-solid border-stone-300 rounded-lg shadow col-span-2 hover:border-stone-800 hover:duration-[0.5s]">
							<div class="flex justify-between mb-4">
								<h2 class="text-xl font-semibold text-gray-700 mb-2">
									Accès à la propriété
								</h2>
								<div>
									<a href="{{ path('app_property_share', {'id': property.id}) }}" 
									class="flex items-center p-1 text-sm border border-blue-500 text-blue-500 rounded hover:bg-blue-100">
										<span class="material-symbols-outlined text-base">share</span> 
										<p class="hidden md:block">Partager cette propriété</p>
									</a>
								</div>
							</div>
							{% for accessControl in property.accessControls %}
								<div class="grid grid-cols-10 gap-2">
									<p class="text-gray-600 py-0 col-span-4">
										{{ accessControl.grantedUser.profile.firstname }} {{ accessControl.grantedUser.profile.lastname }}
									</p>
									{% if accessControl.grantedUser == property.owner %}
										<p class="text-center bg-lime-200 text-lime-800 text-sm font-semibold mb-3 p-1 rounded col-span-4">
											Propriétaire
										</p>
									{% else %}
										<p class="text-center bg-amber-200 text-amber-800 text-sm font-semibold mb-3 p-1 rounded col-span-4">
											Membre
										</p>
										{% if property.owner == app.user %}
											<div class="col-span-2">
												{{ include('access_control/_delete_form.html.twig', {'access_control': accessControl, 'bgColor': 'bg-gray-50'}) }}
											</div>
										{% endif %}
									{% endif %}
								</div>
							{% endfor %}
						</div>
						{# description #}
						<div class="bg-gray-50 p-4 rounded-lg border-[1px] border-solid border-stone-300 rounded-lg shadow col-span-2 hover:border-stone-800 hover:duration-[0.5s] showDescription" id="description">
							<div class="flex justify-between">
								<h2 class="text-xl font-semibold text-gray-700 mb-2">
									Description
								</h2>
								<span class="inline-block bg-blue-200 text-blue-800 text-sm font-semibold mb-3 p-1 rounded">
									{{ property.type.value }}
								</span>
							</div>
							<p class="text-gray-600 text-sm">
								{{ property.name }}
							</p>
							<p class="text-gray-600">
								{{ property.description|nl2br }}
							</p>
						</div>
					</div>
				</div>
				{# loyers #}
				<div class="col-span-6 xl:col-span-4">
					<div class="grid gap-4">
						<div class="h-fit bg-gray-50 p-4 rounded-lg col-span-6 border-[1px] border-solid border-stone-300 rounded-lg shadow hover:border-stone-800 hover:duration-[0.5s] xl:col-span-4">
							<div class="flex justify-between">
								<h2 class="text-xl font-semibold text-gray-700 mb-2">
									Loyers
								</h2>
								<div class="flex justify-between gap-2">
									<a href="{{path('app_property_show', {'id': property.id, 'slug': property.slug, 'year': year - 1})}}">
										<<</a><spanclass="inline-blockbg-blue-200text-blue-800text-smfont-semiboldmb-3p-1rounded">Année | {{year}}</span><a href="{{path('app_property_show',{'id':property.id, 'slug':property.slug,'year':year+1})}}">>>
									</a>
								</div>
								<div class="flex justify-between gap-2"></div>
							</div>
							<div class="relative">
								<div class="flex overflow-x-auto gap-4">
									<table class="table-auto w-full">
										<thead>
											<tr>
												<th class="text-sm bg-cyan-900"></th>
												<th class="text-sm bg-cyan-900 text-white hidden lg:table-cell">
													Locataire
												</th>
												<th class="text-sm bg-cyan-900 text-white hidden md:table-cell">
													Loyer
												</th>
												<th class="text-sm bg-cyan-900 text-white hidden md:table-cell">
													Charges
												</th>
												<th class="text-sm bg-cyan-900 text-white hidden md:table-cell">
													Parking
												</th>
												<th class="text-sm bg-cyan-900 text-white">
													Total
												</th>
												<th class="text-sm bg-orange-200">
													Charges PPE
												</th>
											</tr>
										</thead>
										<tbody>
											{% for key, month in months %}
												{% if key < 10 %}
													{% set formattedKey = '0' ~ key %}
												{% else %}
													{% set formattedKey = key %}
												{% endif %}

												{% set total = 0 %}

												<tr class="hover:bg-gray-100">
													<td class="text-sm">
														{{ month }}
													</td>
													{% set rentKey = formattedKey ~ '-RENT' %}
													{% if rentKey in financialEntrys|keys %}
														{% set selectedEntry = financialEntrys[rentKey] %}
														<td class="text-xs hidden lg:table-cell">
															{# {{ selectedEntry.tenant ? selectedEntry.tenant.fullname : 'NULL' }} #}NULL
														</td>
													{% else %}
														<td class="text-xs hidden lg:table-cell"></td>
													{% endif %}
													{% set rentKey = formattedKey ~ '-RENT' %}
													{% if rentKey in financialEntrys|keys %}
														{% set selectedEntry = financialEntrys[rentKey] %}
														{% set total = total + selectedEntry.amount %}
														<td class="text-sm text-center {{selectedEntry.isPaid ? '' : 'text-red-500' }} hidden md:table-cell">
															<a href="{{path('app_financial_entry_edit', {'id': selectedEntry.id})}}">
																{{ selectedEntry.amount|number_format(2, '.', '\'') }}</a>
														</td>
													{% else %}
														<td class="hidden md:table-cell"></td>
													{% endif %}
													
													{% set chargesDepositKey = formattedKey ~ '-CHARGES_DEPOSIT' %}
													{% set flatFeeKey = formattedKey ~ '-FLAT_FEE' %}

													{% if chargesDepositKey in financialEntrys|keys %}
														{% set selectedEntry = financialEntrys[chargesDepositKey] %}
													{% elseif flatFeeKey in financialEntrys|keys %}
														{% set selectedEntry = financialEntrys[flatFeeKey] %}
													{% else %}
														{% set selectedEntry = null %}
													{% endif %}
													{% if selectedEntry is not null %}
														{% set total = total + selectedEntry.amount %}
														<td class="text-sm text-center {{ selectedEntry.isPaid ? '' : 'text-red-500' }} hidden md:table-cell">
															<a href="{{ path('app_financial_entry_edit', {'id': selectedEntry.id}) }}">
																{{ selectedEntry.amount|number_format(2, '.', '\'') }}
															</a>
														</td>
													{% else %}
														<td class="hidden md:table-cell"></td>
													{% endif %}

													{% set parkingKey = formattedKey ~ '-PARKING' %}
													{% if parkingKey in financialEntrys|keys %}
														{% set selectedEntry = financialEntrys[parkingKey] %}
														{% set total = total + selectedEntry.amount %}
														<td class="text-sm text-center {{selectedEntry.isPaid ? '' : 'text-red-500' }} hidden md:table-cell">
															<a href="{{path('app_financial_entry_edit', {'id': selectedEntry.id})}}">
																{{ selectedEntry.amount|number_format(2, '.', '\'') }}
															</a>
														</td>
													{% else %}
														<td class="hidden md:table-cell"></td>
													{% endif %}
													{% if total > 0 %}
														<td class="text-sm text-center">{{ total|number_format(2, '.', '\'') }}
														</td>
													{% else %}
														<td></td>
													{% endif %}
													{% set chargesKey = formattedKey ~ '-CHARGES_DEPOSIT_OWNER' %}
													{% if chargesKey in financialDeposit|keys %}
														{% set selectedEntry = financialDeposit[chargesKey] %}
														<td class="text-sm text-center {{selectedEntry.isPaid ? '' : 'text-red-500' }}">
															<a href="{{path('app_financial_entry_edit', {'id': selectedEntry.id})}}">
																{{ selectedEntry.amount|number_format(2, '.', '\'') }}
															</a>
														</td>
													{% else %}
														<td></td>
													{% endif %}
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<div class="flex overflow-x-auto gap-4 mt-4">
									{# {% include "templates/property/_mortgage_table.html.twig" %} #}
								</div>
							</div>
						</div> {# fin card loyer #}
						{# Locataire #}
						<div class="col-span-6 xl:col-span-2">
							<div class="grid gap-4">
								{# Locataire #}
								<div class="h-fit bg-gray-50 p-4 rounded-lg border-[1px] border-solid border-stone-300 rounded-lg shadow col-span-2 hover:border-stone-800 hover:duration-[0.5s]">
									<div class="flex justify-between">
										<h2 class="text-xl font-semibold text-gray-700 mb-2">
											Locataire{% if property.actualLease is not null and property.actuallease.tenants|length > 1 %}s{% endif %}
										</h2>
										{% if property.actualLease is null %}
											<span class="inline-block bg-orange-200 text-blue-800 text-sm font-semibold mb-3 p-1 rounded">
												Disponible
											</span>
										{% else %}
											<span class="inline-block bg-green-200 text-blue-800 text-sm font-semibold mb-3 p-1 rounded">
												Loué
											</span>
										{% endif %}
									</div>
									{% if property.actualLease is not null and property.actualLease.tenants is not null %}
										{% for tenant in property.actualLease.tenants %}
											<p class="text-gray-600">
												{{ tenant.firstname }}
												{{ tenant.lastname }}
											</p>
											<p class="ml-4 font-thin">
												{{ tenant.phoneNumber }}
											</p>
											<p class="ml-4 font-thin">
												{{ tenant.email }}
											</p>
										{% endfor %}
									{% else %}
										<p class="text-gray-600">
											Actuellement aucun locataire
										</p>
									{% endif %}
								</div>
								{# EWID  #}
								<div class="h-fit bg-gray-50 p-4 rounded-lg border-[1px] border-solid border-stone-300 rounded-lg shadow col-span-2 hover:border-stone-800 hover:duration-[0.5s]">
									<div class="grid grid-cols-2">
										<h2 class="text-xl font-semibold text-gray-700 mb-2">
											EWID
										</h2>
										<h2 class="text-xl font-semibold text-gray-700 mb-2">
											EGID
										</h2>
										<p class="text-gray-600">
											{{ property.ewid ? property.ewid : 'N/A' }}
										</p>
										<p class="text-gray-600">
											{{ property.egid ? property.egid : 'N/A' }}
										</p>		
									</div>
								</div>
							</div>
						</div>
						{# Détail appartement #}
						<div class="bg-gray-50 border-[1px] border-solid border-stone-300 rounded-lg shadow col-span-6 xl:col-span-2 hover:border-stone-800 hover:duration-[0.5s]" >
							<h2 class="text-xl p-2 font-semibold text-gray-700 mb-2">Details financier</h2>
							<div class="md:grid md:grid-cols-2">
								<div class="col-span-2 bg-cyan-900">
									{% if property.mortgages|length == 0 %}
										<p class="ml-4 text-white font-medium">Aucune hypothèque</p>
									{% else %}
										<p class="ml-4 text-white font-medium">Hypotèque{% if property.mortgages|length > 1 %}s{% endif %}</p>
										{% for mortgage in property.mortgages %}
											<p class="ml-8 text-white font-thin">{{ mortgage.bank.name }} - {{ mortgage.mortgageType.value }} ({{ mortgage.rate }}%)</p>
											<p class="ml-8 text-white font-thin">Ce termine le {{ mortgage.toAt ? mortgage.toAt|format_datetime(locale='fr',pattern="dd MMMM YYYY") : 'N/A' }}</p>
										{% endfor %}
									{% endif %}
									
								</div>  
							</div>
							<div class="md:grid md:grid-cols-2">          
								<div class="gap-2 ml-3 md:col-span-2">
									<p class="text-neutral-900 font-semibold">Achat</p>
									<p class="ml-4 font-thin"><b>{{ property.purchasePrice|format_currency('CHF') }}</b> le {{ property.purchaseDate ? property.purchaseDate|format_datetime(locale='fr',pattern="dd MMMM YYYY") : 'N/A' }}</p>
								</div>
							</div>
						</div>
					</div>
        		</div>

			
				{# documents #}
				<div class="bg-gray-50 p-4 shadow col-span-6 border border-stone-300 rounded-lg hover:border-stone-800 duration-500 xl:col-span-6">
					<div class="flex justify-between items-center mb-4">
						<h3 class="text-xl font-medium">Documents financier</h3>
						<a href="{{ path('app_upload_file_new', {'id': property.id, 'type': 'document'}) }}" class="px-4 py-2 bg-blue-500 text-white rounded shadow hover:bg-blue-600">
							Télécharger
						</a>
					</div>
						<div class="w-full flex justyfy-center rounded-lg bg-yellow-400 p-2 mb-2">
							<span class="material-symbols-outlined text-black pr-2">info</span><p class="text-xs text-black text-center mt-1">Ici s'affichent uniquement les fichiers avec une transaction financière associée.</p>
						</div>
					<div class="flex flex-col w-full text-sm border border-gray-300 rounded-lg overflow-hidden">
						<div class="flex bg-gray-200 font-medium py-2 px-4">
							<div class="flex-1">Fichier</div>
							<div class="w-32 text-center hidden md:block">Type</div>
							<div class="w-32 text-center hidden lg:block">Catégorie</div>
							<div class="w-32 text-center">Montant</div>
							<div class="w-48 text-center hidden xl:block">Date de paiement</div>
							<div class="w-15 text-center">Actions</div>
						</div>
						{% for file in uploadsFiles %}
							<div class="flex border-t border-gray-300 py-2 px-4 items-center">
								<div class="flex-1 truncate">
									<a href="{{ asset('uploads/' ~ property.id ~ '/' ~ file.fileName) }}" target="_blank" class="text-blue-600 hover:text-blue-800">
										{{ file.description ?: 'Aucune description' }}
										{{ file.loadedEntity.description is defined ? ' / ' ~ file.loadedEntity.description : '' }}	
									</a>
								</div>
								<div class="w-32 text-center hidden md:block">
									{% if file.loadedEntity.type.name is defined %}									
										<div class="w-auto text-center text-white bg-{{ file.loadedEntity.type.name == 'EXPENSE' ? 'red' : 'green'}}-600 rounded-md px-1 py-1 mx-2">
											{{ file.loadedEntity.type.value }}
										</div>
									{% endif %}
								</div>
								<div class="w-32 text-center hidden lg:block">
									{% if file.loadedEntity.category.value is defined %}
										<div class="text-center text-white bg-purple-600 rounded-md px-2 py-1">
											{{ file.loadedEntity.category.value }}
										</div>
									{% endif %}
								</div>
								<div class="w-32 text-center text-blue-600">
									{% if file.loadedEntity.amount is defined %}
										<a href="{{ path('app_financial_entry_edit', {'id': file.loadedEntity.id}) }}">CHF {{ file.loadedEntity.amount }}</a>
									{% endif %}
								</div>
								<div class="w-48 text-center text-gray-500 hidden xl:block">
									{% if file.loadedEntity.paidAt is defined %}
										{{ file.loadedEntity.paidAt|format_datetime(locale='fr', pattern="dd MMMM YYYY") }}
									{% endif %}
								</div>
								<div class="w-15 text-center flex justify-center gap-2">
									{{ include('upload_file/_delete_form.html.twig', {'upload_file': file}) }}
								</div>
							</div>
						{% else %}
							<div class="text-gray-500 text-center py-4">Actuellement, aucun fichier.</div>
						{% endfor %}
					</div>
				</div>
				<!-- Gallery Section -->
				<div class="bg-gray-50 p-4 shadow col-span-6 border-[1px] border-solid border-stone-300 rounded-lg shadow hover:border-stone-800 hover:duration-[0.5s] xl:col-span-6">
					<div class="flex justify-between">
						<h3 class="text-xl font-medium mb-4">
							Gallerie d'image
						</h3>
						<a href="{{ path('app_upload_file_new', {'id': property.id, 'type': 'image'}) }}" class="px-4 py-2 bg-blue-500 text-white rounded shadow hover:bg-blue-600">
							Télécharger
						</a>
					</div>
					<div class="mt-4 grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-4">
						{% for image in uploadsImages %}
							<div>
								<a href="{{ asset('uploads/' ~ property.id ~ '/' ~ image.fileName) }}" target="_blank" class="flex items-center text-blue-600 hover:text-blue-800">
									<img src="{{ asset('uploads/' ~ property.id ~ '/' ~ image.fileName) }}" alt="{{ image.fileName }}" class="h-30 w-30 object-scale-down">
								</a>
								<div class="text-end -mt-6">
									{{ include('upload_file/_delete_form.html.twig', {'upload_file': image, 'bgColor': 'bg-gray-50'}) }}
								</div>
							</div>
						{% else %}
							<p class="text-gray-500">
								Actuellement, aucune image.
							</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		window.addEventListener("load", () => {
		document.getElementById("menu_btn_property").classList.add("menu-btn-active");

			let description = document.getElementById('description');

			description.addEventListener('click', () => {
				description.classList.toggle('showDescription');
			})
		})
	</script>

{% endblock %}
