{% extends 'base.html.twig' %}

{% set pageName = "Détail de la propriété" %}

{% block title %}{{property.type.value}} - {{property.address.city}}{% endblock %}
{% block pageName %}{{pageName}}{% endblock %}

{% block body %}

        {% set months = { 
            01 : 'Janvier',
            02 : 'Février',
            03 : 'Mars',
            04 : 'Avril',
            05 : 'Mai',
            06 : 'Juin',
            07 : 'Juillet',
            08 : 'Août',
            09 : 'Spetembre',
            10 : 'Octobre',
            11 : 'Novembre',
            12 : 'Décembre'
            } 
        %}

<div class="container mx-auto p-6">
    <h1 class="text-2xl font-bold mb-6 text-center md:hidden">{{pageName}}</h1>

    <div class="bg-white shadow-md rounded-lg p-6 grid grid-cols-2 xl:grid-cols-6 gap-6">
        <!-- Card Section -->
        <div class="col-span-2">
            <div class="grid gap-4">
            {# description #}
                <div class="bg-gray-50 p-4 rounded-lg shadow hover:shadow-md">
                    <div class="flex justify-between">
                        <h2 class="text-xl font-semibold text-gray-700 mb-2">Description</h2>
                        <span class="inline-block bg-blue-200 text-blue-800 text-sm font-semibold mb-3 p-1 rounded">{{ property.type.value }}</span>
                    </div>                      
                    <p class="text-gray-600 text-sm">{{ property.name }}</p>                  
                    <p class="text-gray-600">{{ property.description|nl2br }}</p>                  
                </div>
            {# Locataire #}
                <div class="bg-gray-50 p-4 rounded-lg shadow hover:shadow-md">
                    <div class="flex justify-between">
                        <h2 class="text-xl font-semibold text-gray-700 mb-2">Locataire</h2>
                        <span class="inline-block bg-green-200 text-blue-800 text-sm font-semibold mb-3 p-1 rounded">Loué</span>
                    </div>               
                    {% for tenant in property.tenants %}
                        <p class="text-gray-600">{{ tenant.firstname }} {{ tenant.lastname }}</p>   
                        <p class="ml-4 font-thin">{{ tenant.phoneNumber }}</p>
                        <p class="ml-4 font-thin">{{ tenant.email }}</p>
                    {% endfor %}       
                </div>
            </div>
        </div>
        {# loyers #}
        <div class="bg-gray-50 p-4 rounded-lg shadow col-span-2 xl:col-span-4 hover:shadow-md">
            <div class="flex justify-between">
                <h2 class="text-xl font-semibold text-gray-700 mb-2">Loyers</h2>
                <div class="flex justify-between gap-2">
                    <a href="{{path('app_property_show', {'id': property.id, 'year': year - 1})}}"><<</a>
                    <span class="inline-block bg-blue-200 text-blue-800 text-sm font-semibold mb-3 p-1 rounded">Année | {{year}}</span>
                    <a href="{{path('app_property_show', {'id': property.id, 'year': year + 1})}}">>></a>
                </div>
                <div class="flex justify-between gap-2"></div>
            </div>   
            <div class="relative">
                <div class="flex overflow-x-auto gap-4">
                    <table class="table-auto w-full">
                    <thead>
                        <tr>
                            <th class="text-sm bg-green-200"></th>
                            <th class="text-sm bg-green-200">Locataire</th>
                            <th class="text-sm bg-green-200">Loyer</th>
                            <th class="text-sm bg-green-200">Charges</th>
                            <th class="text-sm bg-green-200">Parking</th>
                            <th class="text-sm bg-green-200">Total</th>
                            <th class="text-sm bg-orange-200">Charges PPE</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                        {% for key, month in months %}
                            {% if key < 10 %}
                                {% set formattedKey = '0' ~ key %}
                            {% else %}
                                {% set formattedKey = key %}
                            {% endif %}

                            {% set total = 0 %}
                            
                            <tr class="hover:bg-gray-100">
                                <td class="text-sm">{{ month }}</td>
                                {% set rentKey = formattedKey ~ '-RENT' %}
                                {% if rentKey in financialEntrys|keys %}
                                    {% set selectedEntry = financialEntrys[rentKey] %}
                                    <td class="text-xs">{{ selectedEntry.tenant.fullname }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% set rentKey = formattedKey ~ '-RENT' %}
                                {% if rentKey in financialEntrys|keys %}
                                    {% set selectedEntry = financialEntrys[rentKey] %}
                                    {% set total = total + selectedEntry.amount %}
                                    <td class="text-sm text-center {{selectedEntry.isPaid ? '' : 'text-red-500' }}">
                                        <a href="{{path('app_financial_entry_edit', {'id': selectedEntry.id})}}">{{ selectedEntry.amount|number_format(2, '.', '\'') }}</a>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                
                                {% set chargesKey = formattedKey ~ '-CHARGES' %}
                                {% if chargesKey in financialEntrys|keys %}
                                    {% set selectedEntry = financialEntrys[chargesKey] %}
                                    {% set total = total + selectedEntry.amount %}
                                    <td class="text-sm text-center {{selectedEntry.isPaid ? '' : 'text-red-500' }}">
                                        <a href="{{path('app_financial_entry_edit', {'id': selectedEntry.id})}}">{{ selectedEntry.amount|number_format(2, '.', '\'') }}</a>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                
                                {% set parkingKey = formattedKey ~ '-PARKING' %}
                                {% if parkingKey in financialEntrys|keys %}
                                    {% set selectedEntry = financialEntrys[parkingKey] %}
                                    {% set total = total + selectedEntry.amount %}
                                    <td class="text-sm text-center {{selectedEntry.isPaid ? '' : 'text-red-500' }}">
                                        <a href="{{path('app_financial_entry_edit', {'id': selectedEntry.id})}}">{{ selectedEntry.amount|number_format(2, '.', '\'') }}</a>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if total > 0 %}
                                <td class="text-sm text-center">{{ total|number_format(2, '.', '\'') }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                    {% set chargesKey = formattedKey ~ '-CHARGES_DEPOSIT' %}
                                {% if chargesKey in financialDeposit|keys %}
                                    {% set selectedEntry = financialDeposit[chargesKey] %}
                                    <td class="text-sm text-center {{selectedEntry.isPaid ? '' : 'text-red-500' }}">
                                        <a href="{{path('app_financial_entry_edit', {'id': selectedEntry.id})}}">{{ selectedEntry.amount|number_format(2, '.', '\'') }}</a>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    {# Détail appartement #}
        <div class="bg-gray-50 p-4 rounded-lg shadow col-span-2 hover:shadow-md xl:col-span-6" >
            <h2 class="text-xl font-semibold text-gray-700 mb-2">Details</h2>
            <div class="md:grid md:grid-cols-2 md:gap-2 md:ml-3">
                <div class="col-span-2">
                    <p class="text-lime-500 font-semibold">Banque</p>
                    <p class="ml-4 font-thin">{{ property.bank.name }}</p>
                </div>            
                <div>
                    <p class="text-lime-500 font-semibold">Prix d'achat</p>
                    <p class="ml-4 font-thin">{{ property.purchasePrice|format_currency('CHF') }}</p>
                </div>
                <div>
                    <p class="text-lime-500 font-semibold">Date d'achat</p>
                    <p class="ml-4 font-thin">{{ property.purchaseDate ? property.purchaseDate|format_datetime(locale='fr',pattern="dd MMMM YYYY") : 'N/A' }}</p>
                </div>
                <div>
                    <p class="text-lime-500 font-semibold">Taux hypotéquaire</p>
                    <p class="ml-4 font-thin">{{ property.mortgageRate }}</p>
                </div>
                <div>
                    <p class="text-lime-500 font-semibold">Type de taux</p>
                    <p class="ml-4 font-thin">{{ property.mortgageType.value }}</p>
                </div>
                <div>
                    <p class="text-lime-500 font-semibold">Fin de l'hypotèque</p>
                    <p class="ml-4 font-thin">{{ property.mortgageEndDate ? property.mortgageEndDate|format_datetime(locale='fr',pattern="dd MMMM YYYY") : 'N/A' }}</p>
                </div>
                <div>
                    <p class="text-lime-500 font-semibold">EWID</p>
                    <p class="ml-4 font-thin">{{ property.EWID }}</p>
                </div>
                <div>
                    <p class="text-lime-500 font-semibold">EGID</p>
                    <p class="ml-4 font-thin">{{ property.EGID }}</p>
                </div>
            </div>
        </div>
        <!-- Gallery Section -->
        <div class="bg-gray-50 p-4 rounded-lg shadow col-span-2 hover:shadow-md xl:col-span-3">
            <h3 class="text-xl font-medium mb-4">Image Gallery</h3>
            <div class="relative">
                <div class="flex overflow-x-scroll gap-4">
                    {% for image in uploads %}
                        <img src="{{ asset(image.path) }}" alt="{{ image.alt }}" class="h-40 w-full rounded-lg object-cover shadow">
                    {% else %}
                        <p class="text-gray-500">No images available.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {# documents #}
        <div class="bg-gray-50 p-4 rounded-lg shadow col-span-2 hover:shadow-md xl:col-span-3">
            <h3 class="text-xl font-medium mb-4">Documents</h3>
            <div class="relative">
                <div class="flex overflow-x-scroll gap-4">
                    {% for image in uploads %}
                        <img src="{{ asset(image.path) }}" alt="{{ image.alt }}" class="h-40 w-full rounded-lg object-cover shadow">
                    {% else %}
                        <p class="text-gray-500">No documents available.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    

    <div class="mt-6 flex justify-between">
        <a href="{{ path('app_property_index') }}" class="px-4 py-2 bg-blue-500 text-white rounded shadow hover:bg-blue-600">Back to list</a>
        <div>
            <a href="{{ path('app_property_edit', {'id': property.id}) }}" class="px-4 py-2 bg-green-500 text-white rounded shadow hover:bg-green-600 mr-2">Edit</a>
            {{ include('property/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
