<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Dashboard!{% endblock %}</title>
  {# <script src="https://cdn.tailwindcss.com"></script> #}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
  <link rel="icon" type="image/jpg" href="https://app.tellaris.ch/ico.jpg">

{% block importmap %}{{ importmap('app') }}{% endblock %}
{% block javascripts %}
{% endblock %}
        {% block stylesheets %}
        {% endblock %}  
       
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const menuButton = document.querySelector('#menu-button');
      const sidebar = document.querySelector('#sidebar');
      menuButton.addEventListener('click', () => {
        sidebar.classList.toggle('hidden');
      });
    });
  </script>
</head>
<body class="bg-gray-100 text-gray-800">
  <div class="flex min-h-screen">
    <!-- Sidebar -->
    <aside id="sidebar" class="w-64 bg-cyan-950 text-white hidden sm:block">
      <div class="relative w-[100px] h-[100px] mx-auto mt-2">
          <a href="{{ path('app_home') }}">
            <img src="{{ asset('media/logo_border.png') }}" alt="Logo" class="w-full h-full object-cover" />
            <h2 class="absolute bottom-0 left-1/2 transform -translate-x-1/2 px-1 text-lg font-bold text-center bottom-[-15px]">
                {{ app_name }}
            </h2>
          </a>
      </div>

      <nav class="mt-4">
        <ul>
          {# <li class="p-4 flex items-center hover:bg-gray-700 transition">
            <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7h18M3 12h18m-9 5h9" />
            </svg>
            <a href="{{ path('app_home') }}">Home</a>
          </li> #}
          <li class="p-4 flex items-center hover:bg-cyan-900 transition" id="menu_btn_property">
            <span class="material-symbols-outlined mr-2">apartment</span>
            <a href="{{ path('app_property_index') }}">Bien immobilier</a>
          </li>
          <li class="p-4 flex items-center hover:bg-cyan-900 transition" id="menu_btn_tenant">
            <span class="material-symbols-outlined mr-2">group</span>
            <a href="{{ path('app_tenant_index') }}">Locataire</a>
          </li>     
          <li class="p-4 flex items-center hover:bg-cyan-900 transition" id="menu_btn_rent">
            <span class="material-symbols-outlined mr-2">assured_workload</span>
            <a href="{{ path('app_property_rent_index') }}">Loyer</a>
          </li>      
          <li class="p-4 flex items-center hover:bg-cyan-900 transition" id="menu_btn_finance">
            <span class="material-symbols-outlined mr-2">attach_money</span>
            <a href="{{ path('app_financial_entry_index') }}">Finance</a>
          </li>    
          </a>       
          <li class="p-4 flex items-center hover:bg-cyan-900 transition" id="menu_btn_bank">
            <span class="material-symbols-outlined mr-2">corporate_fare</span>
            <a href="{{ path('app_bank_index') }}">Etablissement financier</a>
          </li>  
          <li class="p-4 flex items-center hover:bg-cyan-900 transition" id="menu_btn_bank">
            <span class="material-symbols-outlined mr-2">home_storage</span>
            <a href="{{ path('app_file_manager_index') }}">Gestionnaire de fichiers</a>
          </li>  
        </ul>
      </nav>
    </aside>

    <!-- Main Content -->
    <div class="flex-1 flex flex-col">
      <!-- Header -->
      <header class="bg-white shadow p-4 flex justify-between items-center">
        <h1 class="hidden text-xl font-semibold md:block">{% block pageName %}{% endblock %}</h1>

        <div class="flex items-center gap-6">

          <button id="menu-button" class="sm:hidden bg-gray-800 text-white p-2 rounded">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
          </button>		        
          <!-- Notifications -->
          <button class="relative">
            <span class="material-symbols-outlined">notifications</span>
            <span class="absolute top-0 right-0 bg-red-500 text-white text-xs rounded-full px-1"></span>
          </button>

              <!-- Separator -->
              <div class="h-6 w-[1px] bg-gray-300"></div>

          <!-- Admin Access -->
          {# <div class="flex items-center gap-2 hover:text-blue-500 transition">
            <span class="material-symbols-outlined">manufacturing</span> 
          </div> #}

              <!-- Separator -->
              {# <div class="h-6 w-[1px] bg-gray-300"></div> #}

          <!-- User Menu -->

  <div class="dropdown inline-block relative">
      <button class="flex items-center gap-2 hover:text-blue-500 transition">
        <span class="material-symbols-outlined">person</span>
        <span>{{ app.user.profile.fullName }}</span>
      </button>
    <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
      <li class=""><a class="rounded-t bg-gray-200 hover:bg-gray-300 py-2 px-4 block whitespace-no-wrap" href="#">Profile</a></li>
      <li class=""><a class="bg-red-500 hover:bg-red-600 py-2 px-4 block whitespace-no-wrap" href="{{ path('app_logout') }}">Logout</a></li>
    </ul>
  </div>
{# -------------------------------------------------------------------------------------------------------- #}

        </div>
      </header>
      <!-- Main Section -->
      <main class="sm:p-4">

        {# spinner pleine page pour indiquer un chargement #}
        <div id="full-spinner" class="hidden absolute inset-0 flex items-center justify-center bg-gray-200/50">
            <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-blue-500"></div>
        </div>
      
    {% for message in app.flashes('success') %}
      <div class="w-full flex justify-center bg-lime-500 px-5 mt-2 rounded-lg" id="alert">
        <div class="py-2 font-bold text-gray-900">{{ message }}</div>
      </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
      <div class="w-full flex justify-center bg-amber-500 px-5 mt-2 rounded-lg" id="alert">
        <div class="py-2 font-bold text-gray-900">{{ message }}</div>
      </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
      <div class="w-full flex justify-center bg-red-500 px-5 mt-2 rounded-lg" id="alert">
        <div class="py-2 font-bold text-gray-50">{{ message }}</div>
      </div>
    {% endfor %}

{% block body %}{% endblock %}
      </main>
    </div>
  </div>
  <!--footer-->
  <footer>
    <div class="bg-gray-700 text-white text-center py-4">
    <footer>
    © 2025 Tellaris - Gestion Immobilière
</footer>
    </div>
  </footer>
</body>
</html>

<script>
        // Supprimer la div alert après 4 secondes
        setTimeout(() => {
            const alert = document.getElementById('alert');
            if(alert){
              alert.classList.add('hidden');
            }
        }, 4000);
</script>

