<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {# <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png"> #}
  {# <link rel="icon" type="image/png" href="../assets/img/favicon.png"> #}
  <title>
    {% block title %}Lexinot!{% endblock %}
  </title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>          
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/355c970141.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- Sortable -->
  <script src=" https://cdn.jsdelivr.net/npm/sortablejs@1.15.3/Sortable.min.js "></script>

        {% block stylesheets %}
        {% endblock %}

        {% block importmap %}{{ importmap('app') }}{% endblock %}

        {% block head %}{% endblock %}
        
</head>

<body class="g-sidenav-show bg-gray-200">
{# <body class="g-sidenav-show bg-gray-200 dark-version"> #}


  <!-- Left Menu -->
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
            {% if admin|default(false) %}
            <p class="text-white text-center mb-0 bg-gradient-secondary border-radius-sm">ADMINISTRATION</p>
            {% endif %}
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0 text-center" href="{{ path("home") }}">
        <img src="{{ asset('img/logo-small.png') }}" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">Lexinote</span>
      </a>
    </div>
      {% if admin|default(false) %}
      <hr class="horizontal light mt-4 mb-2">
      {% else %}
        <hr class="horizontal light mt-0 mb-2">
      {% endif %}
    
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">

    {% block link %}{% endblock %}
    
    </div>
    <div class="sidenav-footer position-absolute w-100 bottom-0 ">
      <div class="mx-3">
        <a class="btn btn-outline-danger w-100" href="{{ path("app_logout")}}" type="button">Logout</a>
      </div>
    </div>
  </aside>
  <!-- End Left Menu -->
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">     
  <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <h6 class="font-weight-bolder mb-0" id="pageName"></h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group">
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end w-100">
            <li class="nav-item d-xl-none ps-3 px-4 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>



            <!-- Nav Item - User Information -->         
            {# Notification    #}
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="" class="nav-link text-body p-0">
                <i class="fa fa-bell fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>
            <li class="nav-item px-2 d-flex align-items-center">
              |
              </a>
            </li>
            {# admin #}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="{{ path("app_admin") }}" class="nav-link text-body p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>
            <li class="nav-item px-2 d-flex align-items-center">
              |
              </a>
            </li>
            {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link" id="menu_btn_company" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fa fa-user-circle fa-lg"></i>
              <span class="nav-link-text ms-1">{{app.user.email}}</span>
            </div>
          </a>
          <ul class="dropdown-menu mx-4" aria-labelledby="dropdownCustomer">
            <li>
              <a class="dropdown-item" href="{{ path("app_user_profile")}}">
                  Profile
              </a>
            </li>
            <li><hr class="dropdown-divider bg-primary"></li>
            <li class="text-center">
              <a href="{{ path("app_logout")}}">
                 <span class="badge bg-gradient-danger">Logout</span>
              </a>
            </li>

          </ul>
        </li>


          </ul>
        </div>
      </div>
    </nav>
  <!-- End Navbar -->

        {# Alertes flash #}
            {% set flashs = {1 : 'success', 2 :'primary', 3 : 'secondary', 4 :'danger', 5 :'warning', 6 :'info', 7 :'light', 8 :'dark'} %}

            <div id="alert">
              {% for flash in flashs %}
                {% for message in app.flashes(flash) %}
                  <div class="alert alert-{{flash}} mt-3" >
                  <b>{{ message }}</b>
                  </div>
                {% endfor %}
              {% endfor %}
            </div> 

  {% block body %}{% endblock %}
        <footer class="footer py-4  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                © <script>
                  document.write(new Date().getFullYear())
                </script>,
                Beartson Technology SA | Rue de Cossonay 194, 1020 Renens - Suisse
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://beartson.com/" class="nav-link text-muted" target="_blank">Beartson site web</a>
                </li>
                {# <li class="nav-item">
                |
                </li> #}
                {# <li class="nav-item">
                  <a href="https://julien-ochsenbein.ch/" class="nav-link pe-0 text-muted" target="_blank">Création web  Julien ochsenbein</a>
                </li> #}
              </ul>
            </div>
          </div>
        </div>
      </footer>
  </main>

  <script>

// Fonction permettant de cacher la div avec le message flash après 3 secondes
if(document.getElementById('alert')){
    setTimeout(function(){
        document.getElementById('alert').style.display = 'none';
    }, 9000);
}

function goto(url){
    window.location.href = url;
}

// Fonction permettant de rafraichir le status de l'utilisateur toutes les 5 secondes
setInterval(() => {
    fetch('/update-user-status', { method: 'POST' });
}, 5000); // Toutes les 5 secondes

  </script>
  
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% block javascripts %}{% endblock %}

</body>

</html>



