{% import 'form_macros.html.twig' as macros %}
{{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

<div class="md:grid md:grid-cols-3 md:gap-4">

    {{ macros.field(form.description, 'Description', 'md:col-span-3') }} 
    {{ macros.field(form.amount, 'Montant', '') }} 
    {{ macros.field(form.paidAt, 'Payé le', '') }} 
    {{ macros.field(form.isPaid, 'Montant payé', '') }} 

    {# //uniquement pour la mise à jour d'une transaction, on control si il existe déjà un fichier joint avec cette dernière #}
    {% if uploaded_file is defined and uploaded_file is not empty %}
        <div class="relative flex py-5 items-center col-span-3">
            <div class="flex-grow border-t border-gray-400"></div>
            <span class="flex-shrink mx-4 text-gray-400">Fichier joint</span>
            <div class="flex-grow border-t border-gray-400"></div>
        </div>
        <div class="flex justify-between border-b pb-2 mt-4 col-span-3">
            <p class="text-gray-600 text-sm">
                {{ uploaded_file.description }}
            </p>
            <a href="{{ asset('uploads/' ~ financial_entry.property.id ~ '/' ~ uploaded_file.fileName) }}" target="_blank" class="flex items-center text-blue-600 hover:text-blue-800">
                <span class="material-symbols-outlined text-base mr-1">
                    picture_as_pdf
                </span>
                Voir le fichier
            </a>
        </div>
        {# on rend quand même le chant uploadfile mais en invisible #}
        <div class="hidden">
        {{ macros.field(form.uploadFile, '', '') }} 
        </div>
    {% else %}
        {% if form.uploadFile.vars.choices is defined and form.uploadFile.vars.choices is not empty %}
            <div class="relative flex py-5 items-center col-span-3">
                <div class="flex-grow border-t border-gray-400"></div>
                <span class="flex-shrink mx-4 text-gray-400">Optionnel</span>
                <div class="flex-grow border-t border-gray-400"></div>
            </div>
            {{ macros.field(form.uploadFile, 'Joindre un fichier', '') }} 
        {% else %}
            <div class="hidden">
            {{ macros.field(form.uploadFile, '', '') }} 
            </div>
        {% endif %}
    {% endif %}

</div>

<div>
    <button class="mt-4 py-2 px-4 bg-blue-600 text-white font-bold rounded hover:bg-blue-700">
        {{ button_label|default('Enregistrer') }}
    </button>
    <button onclick="history.back()" class="mt-4 py-2 px-4 bg-red-600 text-white font-bold rounded hover:bg-red-700">Annuler</button>
</div>

{{ form_end(form) }}