{% import 'form_macros.html.twig' as macros %}
{{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

<div class="md:grid md:grid-cols-3 md:gap-4">

    {{ macros.field(form.type, 'Type', '') }}
    {{ macros.field(form.property, 'Bien immobilier', 'md:col-span-2') }} 
    {{ macros.field(form.category, 'Categorie', 'md:col-span-3') }} 
    {{ macros.field(form.description, 'Description', 'md:col-span-3') }} 
    {{ macros.field(form.amount, 'Montant', '') }} 
    {{ macros.field(form.paidAt, 'Payé le', '') }} 
    {{ macros.field(form.isPaid, 'Montant payé', '') }} 
    
    {# affichage du chant hypotèque #}
        {% if form.mortgage.vars.choices is defined and form.mortgage.vars.choices is not empty %}
            <div class="relative flex py-5 items-center col-span-3">
                <div class="flex-grow border-t border-gray-400"></div>
                <span class="flex-shrink mx-4 text-gray-400">hypotèque</span>
                <div class="flex-grow border-t border-gray-400"></div>
            </div>
            {{ macros.field(form.mortgage, 'Selectionner une hypotèque', 'col-span-3') }} 
        {% else %}
            <div class="hidden">
            {{ macros.field(form.mortgage, '', '') }} 
            </div>
        {% endif %}

    {# affichage du chant uploadfile #}
        {% if form.uploadFile.vars.choices is defined and form.uploadFile.vars.choices is not empty %}
            <div class="relative flex py-5 items-center col-span-3">
                <div class="flex-grow border-t border-gray-400"></div>
                <span class="flex-shrink mx-4 text-gray-400">Optionnel</span>
                <div class="flex-grow border-t border-gray-400"></div>
            </div>
            {{ macros.field(form.uploadFile, 'Joindre un fichier', '') }} 
        {% else %}
            <div class="hidden">
            {{ macros.field(form.uploadFile, '', '') }} 
            </div>
        {% endif %}

</div>

<div>
    <button class="mt-4 py-2 px-4 bg-blue-600 text-white font-bold rounded hover:bg-blue-700">
        {{ button_label|default('Enregistrer') }}
    </button>
    <button onclick="history.back()" class="mt-4 py-2 px-4 bg-red-600 text-white font-bold rounded hover:bg-red-700">Annuler</button>
</div>

{{ form_end(form) }}