{% extends 'base.html.twig' %}

{% set pageName = "Créer une nouvelle transaction financière" %}

{% block title %}{{pageName}}{% endblock %}
{% block pageName %}{{pageName}}{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="w-full max-w-2xl p-6 bg-white rounded-lg shadow-lg">
            <h1 class="text-xl font-semibold text-center text-gray-800 mb-5 md:text-2xl">{{ pageName }}</h1>

                {% if properties is not empty %}

                    {{ include('financial_entry/_form.html.twig') }}

                {% else %}
                    <div class="my-2 flex justify-center bg-amber-500 px-5 my-4 rounded-lg">
                        Vous devez ajoutez une propriété avant de pouvoir ajouter une transaction financière.
                    </div>
                {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
document.addEventListener("DOMContentLoaded", () => {
    const amountRegex = /^\d+(?:[\.,]\d{0,2})?$/;
    const dateRegex = /^(0[1-9]|[12][0-9]|3[01])\.(0[1-9]|1[0-2])\.(\d{4})$/;
    const descriptionRegex = /^.{2,255}$/;

    validateInput('financial_entry_new_amount', amountRegex, false)
    validateInput('financial_entry_new_paidAt', dateRegex, false)
    validateInput('financial_entry_new_description', descriptionRegex, false)
});
</script>

<script>
//permet de generer l'url pour le tri des catégories et afficher uniquement les catégories en foncitron des "entrées" ou "sorties"
document.addEventListener("DOMContentLoaded", function () {
    const baseUrl = '{{ path("app_financial_entry_new") }}'; // Twig injecte l'URL
    const urlParams = new URLSearchParams(window.location.search);

    const fieldSelectors = {
        property: 'select[name="financial_entry_new[property]"]',
        type: 'select[name="financial_entry_new[type]"]',
        category: 'select[name="financial_entry_new[category]"]',
    };

    function updateURL(updatedKey, updatedValue) {
        const params = new URLSearchParams();

        // Conserve les anciennes valeurs s’il y en a
        Object.keys(fieldSelectors).forEach(key => {
            const field = document.querySelector(fieldSelectors[key]);
            if (field && (key === updatedKey || field.value)) {
                params.set(key, key === updatedKey ? updatedValue : field.value);
            }
        });

        window.location.href = baseUrl + '?' + params.toString();
    }

    Object.entries(fieldSelectors).forEach(([key, selector]) => {
        const fields = document.querySelectorAll(selector);
        fields.forEach(field => {
            field.addEventListener("change", function () {
                updateURL(key, this.value);
            });
        });
    });
});
</script>

<script>
window.addEventListener("load", () => {
    document.getElementById("menu_btn_finance").classList.add("menu-btn-active");
})
</script>
{% endblock %}
