{% extends 'base.html.twig' %}

{% set pageName = "Liste des baux" %}
{% block title %}{{pageName}}{% endblock %}
{% block pageName %}{{pageName}}{% endblock %}

{% block body %}
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-6 text-center md:hidden">{{pageName}}</h1>
        <div class="my-4 flex justify-center">
            <a href="{{ path('app_lease_new') }}" class="inline-block btn-blue-to-emrald">Créer un nouveau bail</a>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6">
            {% for lease in leases %}
            <div class="flex flex-col">
                <a href="{{ path('app_lease_show', {'id': lease.id, 'slug': lease.property.slug}) }}" class="">
                    <div class="flex flex-col bg-white shadow-md rounded-lg overflow-hidden border-4 border-white hover:shadow-xl">
                        {% if images[lease.property.id] is defined %}
                            {% set path = asset('uploads/' ~ lease.property.id ~ '/' ~ images[lease.property.id].fileName) %}
                        {% else %}
                            {% set path = asset('media/app_default.JPE') %}
                        {% endif %}
                            <div class="relative">
                                <img src="{{ path }}" class="w-full h-48 object-cover opacity-50">
                            <div class="absolute inset-0 flex items-start justify-end">
                                {% if lease.tenants is null %}
                                    <span class="inline-block bg-orange-200 text-orange-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded mt-2 z-10">
                                        Disponible
                                    </span>
                                {% endif %}
                                <span class="inline-block bg-blue-200 text-blue-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded mt-2 z-10">
                                    {{ lease.property.type.value }}
                                </span>
                        </div>
                        <div class="absolute inset-0 bg-black/50 flex items-center justify-center">
                            <h2 class="text-white text-xl font-semibold text-center px-4 py-2 bg-gray-900 w-full">{{ lease.property.name }}</h2>
                        </div>
            </div>
            

            <div class="bg-white p-4">
                <ul>
                    <li>
                    {% if lease.fromAt|date("U") >= "now"|date("U") %}
                        <span class="inline-block bg-orange-200 text-blue-800 text-sm font-semibold mb-3 p-1 rounded">
                            Location prochaine
                        </span>
                    {% elseif lease.toAt|date("U") <= "now"|date("U") %}
                        <span class="inline-block bg-red-200 text-blue-800 text-sm font-semibold mb-3 p-1 rounded">
                            Bail terminé
                        </span>
                    {% else %}
                        <span class="inline-block bg-green-200 text-blue-800 text-sm font-semibold mb-3 p-1 rounded">
                            Actuellement loué 
                        </span>
                    {% endif %}
                    </li>                    
                    {% if lease.tenants is not null %}
                        {# <li><strong>Locataire:</strong> {{ lease.actualTenant.firstname }} {{ lease.actualTenant.lastname }}</li> #}
                    {% endif %}
                    {% set rentTotal = 0 %}
                    {% for property_rent in lease.propertyRents %}
                        {% if property_rent.type.name != 'CHARGES_DEPOSIT_OWNER' %}
                            {% set rentTotal = rentTotal + property_rent.monthlyPrice %}
                        {% endif %}
                    {% endfor %}
                    
                    <li><strong>Loyer mensuel:</strong> {{ rentTotal }} CHF</li>
                    <li><strong>Début de bail:</strong> {{ lease.fromAt|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}</li>
                    <li><strong>Fin de bail:</strong> {{ lease.toAt|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}</li>
                    <div class="relative flex py-5 items-center col-span-4">
                        <div class="flex-grow border-t border-gray-400"></div>
                        <span class="flex-shrink mx-4 text-gray-400">Locataire{% if lease.tenants|length > 1 %}s{% endif %}
                        </span>
                        <div class="flex-grow border-t border-gray-400"></div>
                    </div>
                    {% for tenant in lease.tenants %}
                        {% if loop.index > 1 %}
                            <hr class="m-2">
                        {% endif %}
                        <li><strong>Nom complet:</strong> {{ tenant.fullname }}</li>
                        <li><strong>Email:</strong> {{ tenant.email }}</li>
                        <li><strong>Téléphone:</strong> {{ tenant.phonenumber }}</li>
                    {% endfor %}
                    {% if lease.tenants is empty %}
                        <div class="col-span-full text-center text-gray-600">
                            <div class="my-2 flex justify-center bg-amber-500 px-5 my-4 rounded-lg">
                                Aucun locataire.
                            </div>
                        </div>
                    {% endif %}
                </ul>
            </div>
        </a>
        </div>
    </a>
    </div>
{% else %}
    <div class="col-span-full text-center text-gray-600">
        <div class="my-2 flex justify-center bg-amber-500 px-5 my-4 rounded-lg">
            Aucun bail actuellement.
        </div>
    </div>
{% endfor %}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
window.addEventListener("load", () => {
    document.getElementById("menu_btn_lease").classList.add("menu-btn-active");
})
</script>
{% endblock %}
