{% import 'form_macros.html.twig' as macros %}
{{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

<div class="md:grid md:grid-cols-4 md:gap-4">

    {{ macros.field(form.name, 'Nom de la banque', 'col-span-4') }}
    {{ macros.field(form.email, 'Email de contact', 'col-span-2') }}
    {{ macros.field(form.website, 'Site web', 'col-span-2') }}
    {{ macros.field(form.bic, 'Bic', '') }}
    {{ macros.field(form.clearingNumber, 'N° de clearing', '') }}
    {{ macros.field(form.iban, 'IBAN', 'col-span-2') }}

</div>

<div>
    <button class="mt-4 py-2 px-4 bg-blue-600 text-white font-bold rounded hover:bg-blue-700">
        {{ button_label|default('Enregistrer') }}
    </button>
    <button onclick="history.back()" class="mt-4 py-2 px-4 bg-red-600 text-white font-bold rounded hover:bg-red-700">Annuler</button>
</div>

{{ form_end(form) }}