{% extends 'base.html.twig' %}

{% set pageName = "Loyer" %}
{% block title %}{{ pageName }}{% endblock %}
{% block pageName %}{{ pageName }}{% endblock %}

{% block body %}
<div class="container mx-auto px-4 py-6">
    <h1 class="text-2xl font-bold mb-6 text-center md:hidden">{{ pageName }}</h1>
    <div class="w-full flex justyfy-center rounded-lg bg-fuchsia-400 p-2 mb-2">
        <span class="material-symbols-outlined text-white pr-2">info</span><p class="text-xs text-white text-center">Gérez ici les loyers de chaque propriété. Pour chaque locataire, vous pouvez ajouter les éléments suivants : "Loyer", "Charges", "Place de parc", ainsi que les acomptes mensuels pour les charges</p>
    </div>
    <div class="my-2 flex justify-center">
        <a href="{{ path('app_property_rent_new') }}" class="inline-flex items-center bg-blue-500 text-white font-semibold px-2 rounded hover:bg-blue-600 py-2">
            <span class="material-symbols-outlined mr-2">add</span>Loyer ou charges
        </a>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6">
        {% for property in properties %}
        <div>
            {% if images[property.id] is defined %}
                {% set path = asset('uploads/' ~ property.id ~ '/' ~ images[property.id].fileName) %}
            {% else %}
                {% set path = asset('media/app_default.JPE') %}
            {% endif %}
                <div class="relative">
                    <img src="{{ path }}" class="w-full h-48 object-cover opacity-50">
                    <div class="absolute inset-0 flex items-start justify-end">
                        <span class="inline-block bg-blue-200 text-blue-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded mt-2 z-10">
                            {{ property.type.value }}
                        </span>
                    </div>
                    <div class="absolute inset-0 bg-black/50 flex items-center justify-center">
                        <h2 class="text-white text-xl font-semibold text-center px-4 py-2 bg-gray-900 w-full">{{ property.name }}</h2>
                    </div>
                    <div class="absolute inset-0 flex items-end justify-start">
                        <p class="inline-block bg-white text-gray-800 text-sm font-semibold mr-2 px-2.5 mt-2 z-10">Prix : <span class="font-medium">{{ property.totalRents }} CHF/mois</span></p>
                    </div>
                </div>
            <div class="p-4 bg-white shadow-lg rounded-lg hover:shadow-xl">
                <h3 class="text-lg font-bold mt-4 mb-2">Loyers :</h3>
                <ul class="bg-white divide-y divide-gray-200">
                    {% set has_rents = false %}
                    {% for property_rent in property_rents %}
                        {% if property_rent.property == property %}
                            {% set has_rents = true %}
                            <li class="py-2">
                                <div class="flex justify-between ">
                                    <span class="font-medium">{{ property_rent.monthlyPrice }} CHF /mois</span>
                                    {% if property_rent.type.name == 'CHARGES_DEPOSIT' %}{% set bgColor = 'bg-red-200' %}{% else %}{% set bgColor = 'bg-lime-200' %}{% endif %}
                                    <span class="{{ bgColor }} inline-block text-xs text-green-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded">{{ property_rent.type.value }}</span>
                                </div>
                                <p class="text-sm text-gray-500">Début : {{ property_rent.createdAt ? property_rent.fromAt|date('Y-m-d') : 'N/A' }}</p>
                                <p class="text-sm text-gray-500">Fin : {{ property_rent.endedAt ? property_rent.endedAt|date('Y-m-d') : 'N/A' }}</p>

                                <div class="mt-2 flex justify-start">
                                    <a href="{{ path('app_property_rent_edit', {'id': property_rent.id}) }}" class="bg-green-500 text-white text-sm px-2 py-1 rounded hover:bg-green-600">Éditer</a>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if not has_rents %}
                        <li class="py-2 text-gray-500">Aucun loyer trouvé pour cette propriété.</li>
                    {% endif %}
                </ul>
                {% if has_rents %}
                <div class="flex justify-center pt-2">
                    <form method="POST" action="{{ path('app_financial_entry_generate_from_property_rent', {'property_id': property.id}) }}">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                        <button type="submit" class="bg-amber-500 text-white px-4 py-2 rounded shadow hover:bg-amber-600">Générer les loyers</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        {% else %}
            <div class="col-span-full text-center text-gray-600">
                <div class="my-2 flex justify-center bg-amber-500 px-5 my-4 rounded-lg">
                    Aucun loyer actuellement
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
window.addEventListener("load", () => {
    document.getElementById("menu_btn_rent").classList.add("menu-btn-active");
})
</script>
{% endblock %}